<strong>Olá {{ student }}</strong>
<p>Parabéns você de matrículou na GymPoint</p>
<p><strong>Plano:</strong>{{ plan }}</p>
<p><strong>Duração<br>
        de:</strong>{{ start_date }}<br>
<strong>até:</strong>{{ end_date }}</p><br>
<strong>Valor:</strong>R${{ price }}
<p><strong></strong></p>
